[Unit]
Description=Schedule MOVA FPL integrity watchdog

[Timer]
OnBootSec=3min
OnUnitInactiveSec=15min
AccuracySec=30s
Persistent=true
Unit=mova-fpl-watchdog.service

[Install]
WantedBy=timers.target
